.topbarContainer {
    height: 50px;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarLeft {
    flex: 3;
}

.person {
    position: absolute;
    background-color: rgb(235, 235, 255);
    left: 0;
    right: 0;
    bottom: -60px;
    height: 80px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logout {
    padding: 5px;
    color: black;
    background-color: rgb(200, 146, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.userInfo {
    display: flex;
    margin-top: 20px;
    height: 100%;
    /* width: 40%; */
    align-items: center;
    /* justify-content: space-around; */
    /* border: 1px solid black; */
    background-color: antiquewhite;
    cursor: pointer;
}

.imageInfo > img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 20px;
}


.topbarLogo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.topbarCenter {
    flex: 5;
    position: relative;
}

.searchbar {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    z-index: 2;
}

.searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
}

.searchInput {
    border: none;
    width: 70%;
}

.searchInput:focus {
    outline: none
}

.topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.topbarIcons {
    display: flex;
}

.topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbarLinks {
    display: flex;
}

.topbarLink {
    margin-right: 10px;
    font-style: 14px;
    cursor: pointer;
}

.topbarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}